#gifcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gifBox {
    border-color: darkgrey;
    margin: 5px 5px 5px 5px;
    
}
.center {
    padding: 5px;
    width : 30vw;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.buttoncenter {
    padding: 5px;

}